@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, serif;
}

header {
  background-image: url("../images/wall.png");
  background-position: 50%;
  background-size: 100%;
  padding-bottom: 10rem;
}
img#logo {
  height: 1%;
}
img#gif{
    size: 100%;
    max-width: 100%;
}

body{
    background-color: #911515;
}

main {
  /*background-image: url("../images/campoverde.jpg");
  background-position: 50%;
  background-size: 100%;*/
  margin-left: 5rem;
  margin-right: 5rem;
}

footer{
    background-color: rgb(51, 104, 45);
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 3rem;    
    text-align: center;
    line-height: 100px;
}

h2{
    color: #eee;
}

p.azuis {
  color: blue;
}
p.especwhite {
  color: rgb(255, 255, 255);
}

div#image {
  display: flexbox;
  padding: 1rem;
  border: 10px;
  border-color: rgb(0, 0, 0);
  margin: 1rem;
}
div#descritiva{
  width: 400px;
  display: flexbox;
  padding: 1rem;
  border: 10px;
  border-color: rgb(0, 0, 0);
  margin: 1rem;
}
section {
  display: flex;
}

button {
  background: #ff0000;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(202, 110, 110);
  text-shadow: none;
  padding: 20px 70px;
  margin-top: 50px;
  margin-bottom: 83px;
}

button:hover {
  background: #ff5858;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(201, 109, 109);
  text-shadow: none;
}

html, body {
    overflow-x: hidden;
}

.container { 
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;
}


/* Flex */
.flex {
	flex-wrap: wrap;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-item-1 {
	flex: 1;
}

/* Flex Item */
.item {
	margin: 5px;
	text-align: center;
	font-size: 1.2em;
}
